* {
    margin: 0;
    padding: 0;
    font-family: 'Futura PT';
    line-height: 1;
}

header {
    background-image: url(/images/bg_1.svg);
    height: 768px;
    width: 100%;
}
.container{
    width: 1161px;
}
.container-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 360px;
}

.whatsapp-container,
.phone-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 100.6%;
    text-align: center;
    color: #4A4A4A;
    margin-top: 0;
    margin-bottom: 1rem;
}

.first-page p{
    margin: 0;
}

.navbar-nav {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-whatsapp {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100.6%;
    padding: .5em .6rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px #B3B3B3;
    border-radius: 50px;
    color: #4A4A4A !important;
    cursor: pointer;
}

.btn-order {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100.6%;
    /* identical to box height, or 16px */
    height: 20px;
    text-align: center;
    border-bottom: 1.2px dashed #CA2223;
    color: #CA2223;
    cursor: pointer;
}

.nav-link {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 106%;
    /* identical to box height, or 19px */
    color: #4A4A4A !important;

}

.navbar{
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 0px;
}

.navbar-brand {
    padding-right: 2rem;
}
.cloud{
    position: absolute;
    bottom: -55px;
    width: 100%;
    height: 200px;
    background-image: url(../images/clouds.svg);
}
.navbar-nav p {
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 106%;
    color: #4A4A4A;
}


.h1 {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 106.5%;
    /* or 75px */
    color: #4A4A4A;
}

.h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 113.5%;
    /* identical to box height, or 57px */
    color: #4A4A4A;
}

.application-block .h3 {
    font-style: normal;
    font-weight: 450;
    font-size: 35px;
    line-height: 106%;
    /* or 37px */
    color: #FFFFFF;
}

.application-block-down .h3 {
    width: 685px;
    ;
    font-style: normal;
    font-weight: 450;
    font-size: 35px;
    line-height: 106%;
    /* or 37px */
    color: #FFFFFF;
}


.text-bold {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 113.5%;
    /* identical to box height, or 25px */
    color: #4A4A4A;
}

.red-block {
    width: 245px;
    height: 41px;
    background: #CA2223;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    color: #FFFFFF;
    transform: skew(-20deg);

}

.application-block .white-block {
    width: 195px;
    height: 32px;
    background: #FCFDFF;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    color: #4A4A4A;
    transform: skew(-20deg);
}

.application-block-down .white-block {
    width: 120px;
    height: 32px;
    background: #FCFDFF;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    color: #4A4A4A;
    transform: skew(-20deg);
}

.red-block-text {
    padding: 0 2rem;
    height: 45px;
    background: #CA2223;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 31.5789px;
    line-height: 113.5%;
    /* identical to box height, or 36px */
    text-align: center;
    color: #FFFFFF;
    line-height: 115%;
    /* identical to box height, or 23px */
    color: #FFFFFF;
    transform: skew(-20deg);

}

.fix {
    display: flex;
    transform: skew(20deg);
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 41px;
}

.fix-white {
    display: flex;
    transform: skew(20deg);
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 32px;
}

.btn-call-up {
    width: 360px;
    height: 65px;
    background: linear-gradient(180deg, #F35758 0%, #CA2223 100%);
    box-shadow: 0px 4px 0px #940001;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    color: #FFFFFF;
}

.contents {
    width: 900px;
}

.left-text {
    width: 550px;
    font-style: normal;
    font-weight: 450;
    font-size: 22px;
    line-height: 106%;
    color: #4A4A4A;
}

.line {
    margin-top: .6rem;
    width: 50px;
    height: 3px;
    background-color: #CA2223;
}

.block {
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 435px;
    background: #FFFFFF;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
}

.block img {
    width: 36px;
    height: 36px;
    margin-bottom: .5rem;
}

.text-w {
    width: 101px;
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 106%;
    /* or 21px */
    text-align: center;
    color: #4A4A4A;
}

span {
    font-style: normal;
    font-weight: 450;
    font-size: 22px;
    line-height: 106%;
    /* or 23px */


    color: #4A4A4A;
}

.card {
    border-radius: 10px;
    height: auto;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
}


 .first-page .card img {
    width: 238px;
    object-fit: cover;
    height: 268px;
    border-radius: 10px 0 0 10px;
}
.first-page .card-body{
    height: 268px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first-page .leave-a-request{
    width: 100%;
}
.leave-a-request {
    width: 230px;
    height: 45px;
    background: linear-gradient(180deg, #F05354 0%, #CE2728 100%);
    box-shadow: 0px 4px 0px #940001;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 115%;
    /* identical to box height, or 21px */

    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #4A4A4A;
}

.card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 106%;
    /* or 21px */
    color: #4A4A4A;
}

.card-text-price {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106%;
    /* identical to box height, or 17px */
    text-decoration-line: underline;
    color: #4A4A4A;

}

.images-main {
    background-image: url(../images/city.svg);
    width: 610px;
    height: 500px;
    position: absolute;
    z-index: -2;
    left: 0;
    top: 1165px;
    background-repeat: no-repeat;
}

.img-clouds-small {
    position: absolute;
    width: 100%;
    height: 315px;
    left: 0;
    z-index: -1;
    top: 1565px;
}

.block-info-success {
    display: flex;
    align-items: center;
    width: 20%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    /* or 18px */
    color: #4A4A4A;

}

.block-info-success-1 {
    display: flex;
    align-items: center;
}

.block-info-success-1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    /* or 21px */
    color: #4A4A4A;
    margin: 0
}
.img-bg-1{
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(../images/img-content-1.svg);
}
.block-info-success img,
.block-info-success-1 img {
    width: 30px;
    height: 30px;
    margin-right: .8rem;
}

.block-info-success p {
    margin: 0;
    padding: 0;
}

.block-info-success span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    color: #4A4A4A;
}

.application-block-down {
    width: 100%;
    min-height: 210px;
    background: linear-gradient(180deg, #F17273 0%, #CA2223 100%);
    opacity: 0.8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    margin-bottom: 5rem;
}

.application-block {
    width: 100%;
    min-height: 210px;
    background: linear-gradient(180deg, #EF5152 0%, #CF2829 100%);
    opacity: 0.8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2.5rem;
}

.application-block span,
.application-block-down span {
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 115%;
    color: #FFFFFF;
}

.btn-send-application {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    border: 0;
    background: #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    color: #4A4A4A;
    cursor: pointer;
}

.application-block .form-controls,
.application-block-down .form-controls {
    width: 100%;
    height: 65px;
    border: 0;
    background: #DC7778;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    /* identical to box height, or 16px */
    color: #FFFFFF;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

::-ms-input-placeholder {
    color: #FFFFFF;
}

span.small {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    color: #FFFFFF;

}

.red-text {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 113.5%;
    color: #CA2223;
}

.info-blocks {
    width: 31%;
    min-height: 360px;
    background: #F6F7F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0 1rem;
}

.info-blocks p {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 126.5%;
    color: #4A4A4A;
    margin: 0;
}

.info-blocks img {
    margin-left: 1.5rem;
}

.info-blocks img:nth-child(2) {
    margin-left: 3.5rem;
}

.d-flex-info {
    display: flex;
    justify-content: space-between;
}

.red-box {
    align-self: flex-end;
    margin-top: 50px;
    width: 170px;
    height: 182px;
    background: linear-gradient(180deg, #EF5253 0%, #D0292A 100%);
    border-radius: 10px;
    padding: 1rem.6rem;
    margin-left: -255px;
}

.red-box p {
    font-style: normal;
    font-weight: 450;
    font-size: 40px;
    line-height: 106%;
    /* or 42px */
    text-align: center;
    color: #FFFFFF;
    margin: 5px;
}
.img-ttt{
    margin-top: -95px;
    width: 30%;
    background-repeat: no-repeat;
    background-image: url(../images/small-elm-1.svg);
}
.red-box span {
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    color: #FFFFFF;
}

.d-flex-success {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    justify-content: space-around;
    height: 285px;
}

.example-link {
    width: 165px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106%;
    /* or 19px */
    text-decoration-line: underline;
    cursor: pointer;
    color: #DC7778;
    margin-left: 1rem;
    margin-left: 1rem;
}

section .card-body {
    padding: 1.5rem 1rem;
    margin-left: 1.5rem;
}

section .leave-a-request {
    margin-left: .7rem;
}
.carousel-caption{
    text-align: left;
    bottom: 9rem;
}
.bg-img{
    min-height: 768px;
    object-fit: cover;
}
.note-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    /* or 21px */
    color: #4A4A4A;
}
.carousel-control-next, .carousel-control-prev{
    width: 25%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-control-next, .carousel-control-prev{
    height: 768px;
}

.round-border {
    width: 183px;
    border: 15px solid #DC7778;
    border-radius: 50%;
    background-color: #DC7778;
}

.img-flex {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.img-fix {
    margin-left: 0rem;
    padding-left: 2rem;
}
i{
    color: #000;
    z-index: 999;
}
.img-flex p {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 126.5%;
    /* or 28px */
    color: #4A4A4A;
    width: 190px;
}

.img-flex span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    /* or 21px */
    color: #4A4A4A;
}

.pad-text {
    padding-left: 1rem;
}

.other-bg {
    background: #F6F7F8;
    width: 100%;
    padding-bottom: 3rem;
}

.other-bg .container {
    padding-top: 4rem;
}

.other-bg .red-block-text {
    width: 270px;
}

.other-bg .img-wrap {
    position: relative;
}

.other-bg .img-wrap span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 1rem;
    font-style: normal;
    font-weight: 450;
    font-size: 22px;
    line-height: 106%;
    color: #FFFFFF;
}
.mb-fix {
    margin-bottom: 1.5rem;
}

.text-span {
    width: 820px;
    font-style: normal;
    font-weight: 450;
    font-size: 22px;
    line-height: 106%;
    /* or 23px */
    color: #4A4A4A;

}

.down-text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 106%;
    /* or 23px */
    color: #4A4A4A;
    padding-top: .8rem;
}

.img-house:nth-child(1) {
    width: 360px;
    height: 235px;
    border: 10px;
}

.content-card-fix .card-body{
    padding: 1rem 0;
}

.content-card-fix .card{
    height: 221px;
}
.content-card-fix span{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 114.5%;
    /* or 25px */


    color: #4A4A4A;
}

.content-card-fix .card-text{
    font-size: 17px;
}

.content-card-fix img{
    width: 50px;
    height: 50px;
}

.address{
    width: 210px;
    line-height: 1.5;
}

.gray-bg{
    width: 100%;
    height: 315px;
    background: #F6F7F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 10px 10px;
}

.flex-address{
    padding: .5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.address p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* or 131% */
    color: #4A4A4A;
}

.gray-bg img{
    width: 20px;
    height: 20px;
}

.number-line{
    background-position: center top;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-image: url(../images/doter-line.svg);
}

.number-line p{
    width: 260px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 126%;
    /* or 21px */
    text-align: center;
    color: #4A4A4A;
    margin-top: 1rem;
}

.d-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-responsive{
    width: 100%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: #3C3C3C;
}

footer a{
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 106%;
    /* identical to box height, or 19px */
    text-decoration: none;

    color: #FFFFFF;

}