@media (min-width: 320px) and (max-width: 1020px) {
    .container {
        width: auto;
    }

    .container-links {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first-page .card img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .block-info-success {
        width: 100%;
        margin-bottom: 2rem;
    }

    .form-controls {
        margin-bottom: 2rem;
    }

    .info-blocks {
        width: 100%;
    }

    .info-blocks img:nth-child(2) {
        margin-left: 1rem;
    }

    .d-flex-content {
        flex-direction: column;
    }
    .slider-img  .carousel .carousel-item  .img-box {
        margin-bottom: 20px;
    }
    .carousel-item .mb-4{
        margin-bottom: 0!important;
    }

    section .card-body {
        margin-left: 0;
    }

    section .card img {
        width: 100% !important;
        border-radius: 10px 10px 0 0 !important;
        max-height: 320px;
        object-fit: cover;
    }

    .example-link {
        margin-top: 1rem;
        width: 100%;
        margin-left: 0;
    }

    section .leave-a-request {
        margin-left: 0;
    }

    .leave-a-request {
        width: 100%;
    }

    .red-text {
        width: 100% !important;
    }

    .round-border {
        width: 82px;
        height: 82px;
        border: 6px solid #DC7778;
    }

    .img-fix {
        padding: 0;
    }

    .pad-text {
        padding: .5rem;
    }

    .img-flex p {
        font-size: 18px;
    }

    p {
        margin-bottom: .5rem;
    }

    .application-block-down .h3 {
        width: 100%;
    }

    .h2 {
        width: 100% !important;
        font-style: normal;
        font-weight: 600;
        font-size: 29px;
        line-height: 113.5%;
        /* or 28px */


        color: #4A4A4A;
    }

    .text-span {
        width: 100%;
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 106%;
        /* or 17px */


        color: #4A4A4A;
    }
    img.img-card{
        width: 60px!important;
        height: auto!important;
    }
    .card img {
        width: 100% !important;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px;
    }

    .content-card-fix .card {
        height: auto;
    }

    .block-info-success img {
        width: 40px !important;
        height: 40px !important;
    }

    .number-line {
        flex-direction: column;
    }

    .d-img {
        flex-direction: row;
        margin-bottom: 2rem;

    }

    .number-line {
        background-position: left center;
    }

    .gray-bg {
        height: auto;
        width: auto;
    }

    .address {
        width: 300px;
    }

    .flex-address img {
        width: 20px !important;
    }

    .flex-address {
        padding-top: 2rem;
    }
    .d-flex-success{
        margin-left: 0;
    }
    .d-flex-content{
        display: flex;
        flex-direction: column-reverse;
    }
    .red-box{
        margin-top: 165px;
    }

    .img-ttt{
        margin-top: -410px;
        width:65%;
    }
    .block-info-success-1 p{
        font-size: 16px;
    }
    .img-bg-3 img{
        position:initial; 
        width: 100%;
        margin-bottom: -1.5rem;
    }
    .application-block{
        padding: 1.5rem;
    }
    .h1{
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 106.5%;
        /* or 37px */

        text-align: center;
    }
    .left-text{
        width: 100%;
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 106%;
        /* or 17px */

        text-align: center;
    }
    .img-bg-7, .contents{
        width: 100%;
    }
    .btn-call-up{
        width: 93%;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    .flex-column-block{
        flex-direction: column;
    }
    .block{
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .carousel-caption{
        bottom: 0;
    }
    .carousel-caption{
        width: 100%;
        right: 0;
        left: 0;
        padding: .5rem;
        top: 5%;
    }
    .red-block{
        margin-top: 1.5rem;
    }
    .line{
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .block img{
        width: 27px;
        height: 27px;
    }
    .text-w{
        font-style: normal;
        font-weight: 450;
        font-size: 14px;
        line-height: 106%;
        /* or 15px */

        text-align: center;

        color: #4A4A4A;
    }

    nav .container{
        width: 100%;
    }

    .navbar-light .navbar-toggler{
        border: 0;
        background-color: #fff;
    }

    .navbar-light .navbar-toggler-icon{
        background-image: url(../images/humburger.svg);
    }

    .navbar-nav{
        background-color: #fff;
        width: 100%;
        padding: 1rem 0;
        border-radius: 10px;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        font-style: normal;
        font-weight: 450;
        font-size: 18px;
        line-height: 106%;
        /* identical to box height, or 19px */
        margin: .3rem 0;
        text-align: center;
        color: #4A4A4A;
    }

    .line-red{
        height: 1px;
        width: 95%;
        background-color:  #DC7778;
        margin: 1rem 0;
    }

    .navbar-light .navbar-toggler{
        color: rgba(0,0,0,0);
    }

    .red-block-text{
        width: 170px;
    }

    .fix{
        font-size: 20px;
    }
    .fix-block{
        display: flex;
        justify-content: center;
    }
    .h3{
        text-align: center;
        font-size: 25px;
    }
    .btn-group{
        display: flex;
        justify-content: center;
    }
    .img-bg-4{
        width: 231px;
        height: 199px;
        object-fit: scale-down;
    }
    .img-bg-4{
        display: none;
    }
    .img-bg-4-fix{
        display: block;
        width: 231px;
    }
    .logo-footer{
        width: 120px;
        margin-bottom: 1rem;
    }
    footer a{
        margin-bottom: 1rem;
    }
    footer{
        padding: 1rem 0;
        height: auto;
    }
}